body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 10px;
  transition: 2s;
}

button:hover {
  cursor: pointer;
  background: #f5d282;
  border-color: transparent;
}

.man {
  display: flex;
  flex-direction: row;
}

.girl.animate {
  animation: jump 0.5s linear infinite alternate backwards;
}

.boy.animate {
  animation: jump 0.5s linear 0.5s infinite alternate backwards;
}

@keyframes jump {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.girl,
.boy {
  width: 160px;
  height: 160px;
  margin: 0 50px;
  transform: scale(1);
}

.girl {
  background: url("./img/no-girl.png");
}

.boy {
  background: url("./img/no-boy.png");
}

.girl.win {
  background: url("./img/f-girl.png") no-repeat;
  background-size: contain;
  transform: scale(1.5);
}

.boy.win{
  background: url("./img/f-boy.png") no-repeat;
  background-size: contain;
  transform: scale(1.5);
}